.App {
  text-align: center;
}

.App-header h2{
  font-weight: bold;
  color:white;
  font-family:century gothic;
  font-size:40px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color:rgba(146, 144, 122,0.4); */
  background-color:rgb(67, 180, 214);
  height:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom:2px solid black;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
